.carousel-image {
    width: 100% !important;
    height: 400px;
    object-fit: contain !important;
}

@media only screen and (max-width: 766px) {
    .carousel-image {
        height: auto !important;
    }
}